@{
    B2C.Models.B2CInfo order = (B2C.Models.B2CInfo)
       ViewData["order"];
}

<h2>确认支付信息</h2>

<?php
header("content-type:text/html;charset=UTF-8");
include "./DataUtil.php";
include"./HttpClient.php";
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>订单信息填写-收银台</title>
</head>
<body>
    <font color='red'>收银台页面下单</font>
    <form action="PayPost" target="post">
        <table class="api">
            <tr>
                <td>版本号：</td>
                <td>
                    <label>@order.version </label>
                    <input type="hidden" name="version" value=@order.version>
                    <font color="red">不能为空，确保正确的商户号</font>
                </td>
            </tr>

            <tr>
                <td>请求时间</td>
                <td>
                    <label>@order.reqDate </label>
                    <input type="hidden" name="reqDate" value=@order.reqDate>
                </td>
            </tr>

            <tr>
                <td>金额：</td>
                <td>
                    <label>@order.totalAmount </label>
                    <input type="hidden" name="totalAmount" maxlength='20' value=@order.totalAmount>
                    <font color="red">*订单金额，以分为单位</font>
                </td>
            </tr>
            <tr>
                <td>卡类型</td>
                <td>
                    <label>@order.cardType </label>
                    <!-- <select name="charsets">
                          <option value="00">GBK</option>
                          <option value="01">GB2312</option>
                          <option value="02">UTF-8</option>
                       </select>-->
                    <input type="hidden" name="cardType" value= @order.cardType>
                    <font color="red"></font>
                </td>
            </tr>
            <tr>
                <td>产品名称</td>
                <td>
                    <label>@order.productName </label>
                    <input type="hidden" name="productName" value=@order.productName >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>产品ID</td>
                <td>
                    <label>@order.productId </label>
                    <input type="hidden" name="productId" value=@order.productId >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>产品描述</td>
                <td>
                    <label>@order.productDesc </label>
                    <input type="hidden" name="productDesc" value=@order.productDesc >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>展示地址</td>
                <td>
                    <label>@order.showUrl </label>
                    <input type="hidden" name="showUrl" value=@order.showUrl >
                    <font color="red">*</font>
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    银行编码
                </td>
                <td>
                    <label>@order.bankAbbr </label>
                    <input type="hidden" name="bankAbbr" value=@order.bankAbbr>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>同步回调地址</td>
                <td>
                    <label>@order.pageReturnUrl </label>
                    <input type="hidden" name="pageReturnUrl" value=@order.pageReturnUrl>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>请求地址</td>
                <td>
                    <label>@order.postUrl </label>
                    <input type="hidden" name="postUrl" value=@order.postUrl>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>后台回调地址</td>
                <td>
                    <label>@order.offlineNotifyUrl </label>
                    <input type="hidden" name="offlineNotifyUrl" value=@order.offlineNotifyUrl>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>交易码</td>
                <td>
                    <label>@order.tranCode </label>
                    <input type="hidden" name="tranCode" value=@order.tranCode>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>买者标识</td>
                <td>
                    <label>@order.purchaserId </label>
                    <input type="hidden" name="purchaserId" value=@order.purchaserId>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>订单号</td>
                <td>
                    <label>@order.reqOrdId </label>
                    <input type="hidden" name="reqOrdId" value=@order.reqOrdId >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>商户号</td>
                <td>
                    <label>@order.merchantId </label>
                    <input type="hidden" name="merchantId" value=@order.merchantId >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>订单有效单位 只能取以下枚举值 00-分  01-小时 02-日 03-月</td>
                <td>
                    <label>@order.validUnit </label>
                    <input type="hidden" name="validUnit" value=@order.validUnit>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>订单有效数量</td>
                <td>
                    <label>@order.validNum </label>
                    <input type="hidden" name="validNum" value=@order.validNum>
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>原样返回的商户数据</td>
                <td>
                    <label>@order.backParam </label>
                    <input type="hidden" name="backParam" value=@order.backParam  >
                    <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td>币种</td>
                <td>
                    <label>@order.currency </label>
                    <input type="hidden" name="currency" value=@order.currency  >
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="下单"></td>
            </tr>
        </table>
    </form>


</body>
</html>